/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.user-actions form input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.user-actions form button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

.slide-image {
    max-width: 100%; /* Giới hạn chiều rộng tối đa của ảnh là 100% của phần tử cha */
    height: auto; /* Đảm bảo tỷ lệ khung hình không bị méo */
}


.product-list {
    margin-top: 20px;
}

.filter-sort select {
    padding: 5px;
    margin-right: 10px;
}

.filter-sort .sort-btn {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.type-view button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-card {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    margin-top: 10px;
}

.product-card p {
    font-weight: bold;
    margin: 5px 0;
}

.product-card .add-to-cart-btn {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.product-detail {
    margin-top: 20px;
}

.product-info {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

.product-info h2 {
    margin-bottom: 10px;
}

.product-description {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-description h3 {
    margin-bottom: 10px;
}

.same-category-products {
    margin-top: 20px;
}

.same-category-products h3 {
    margin-bottom: 10px;
}

.product-card {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    margin-top: 10px;
}

.product-card p {
    font-weight: bold;
    margin: 5px 0;
}

.product-card .add-to-cart-btn {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}


.contact-container {
    display: flex;
    justify-content: space-between;
}

.google-map,
.contact-info {
    flex-basis: calc(50% - 10px); /* 50% width with margin */
}

.google-map {
    margin-right: 10px; /* Add some space between the sections */
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}




.login-container {
    max-width: 400px;
    margin: 0 auto; /* Đặt margin top và bottom là 0, và margin left và right là auto */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.login-container h2 {
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.login-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* CSS cho phần nội dung giỏ hàng */
.content {
    padding: 20px;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
}

.cart-item {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.item-details {
    padding: 10px;
}

.item-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.item-details p {
    margin: 5px 0;
}
